.app__data {
    text-align: center;
}

.app__description {
    margin-bottom: var(--space-5);
}

.app__stores {
    margin-bottom: var(--space-4);
}

.app__store {
    width: 120px;
    margin: 0 var(--space-1);
}

.app__img {
    width: 230px;
    justify-self: center;
}