.home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home__data {
    justify-self: center;
    text-align: center;
}

.home__title {
    font-size: var(--fs-big);
    color: var(--first-color);
    margin-bottom: var(--space-1);
}

.home__subtitle {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}