.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--space-2);
}

.services__title {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-1);
}

.services__description {
    padding: 0 1.5rem;
}