.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    font-size: var(--fs-xxl);
    color: var(--first-color);
    font-weight: var(--fw-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--fs-sm);
    margin: 0.25rem 0 var(--space-3);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--space-2);
}

.footer__title {
    font-size: var(--fs-xl);
    color: var(--title-color);
    margin-bottom: var(--space-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--space-1);
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: var(--fs-sm);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}